:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: -.25px;
  font-weight: 500;

  color-scheme: light dark;
  color: var(--figma-color-text);
  background-color: var(--figma-color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 1rem;
}

button {
  padding: 0.75rem;
  border: 0;
  border-radius: .5rem;
  
  color: white;
  background-color: var(--figma-color-bg-brand);
  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  
}